@keyframes pers {
  0% {
    filter: blur(8px);
  }
  100% {
    filter: blur(0px);
  }
}

#cont {
  animation: pers 2s;
}

@keyframes new {
  0% {
    transform: translateY(-10vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

#line {
  animation: new 1s;
}
